/*  default margin and padding */
body, h1, h2, p, input, button {
    margin: 0;
    padding: 0;
}

/* Set a background color for the body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Style the form container */
form {
    max-width: 300px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style form labels */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Style form inputs */
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box; /* Ensure padding is included in the width */
}

/* Style form buttons */
button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%; /* Make button full-width */
}

button:hover {
    background-color: #45a049;
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
    form {
        max-width: 80%;
    }
}

@media screen and (max-width: 400px) {
    form {
        max-width: 90%;
    }
}
